.fieldContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	justify-content: center;
	margin: 20px auto;
	width: fit-content;
	padding: 15px;
	background-color: #ffeef7;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(255, 105, 180, 0.2);
}

.buttonCell {
	width: 60px;
	height: 60px;
	font-size: 24px;
	font-weight: bold;
	border: 2px solid #f7b3c9;
	border-radius: 15px;
	background-color: #fffaf0;
	cursor: pointer;
	outline: none;
	transition:
		background-color 0.2s ease,
		transform 0.2s ease,
		box-shadow 0.2s ease;
	color: #d24d8e;
}

.buttonCell:hover:not(:disabled) {
	background-color: #fce4ec;
	box-shadow: 0 2px 5px rgba(255, 105, 180, 0.3);
	transform: scale(1.05);
}

.buttonCell:disabled {
	background-color: #f7e3ea;
	cursor: not-allowed;
	color: #d24d8e;
}
