.informationContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 50px;
	margin-bottom: 20px;
}

.informationLabel {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.informationLabel.draw {
	color: #f7b3c9;
	background-color: #fff0f5;
}

.informationLabel.success {
	color: #ff69b4;
	background-color: #ffeef7;
}

.informationLabel.turn {
	color: #d24d8e;
	background-color: #fffaf0;
}
